In [2]:
import psycopg2
from datetime import date

# Connect to your PostgreSQL database
conn = psycopg2.connect(
    dbname='railway_dashboard',
    user='postgres',
    password='1234',
    host='localhost',
    port='5432'
)

# Create a cursor
cur = conn.cursor()

# Insert records into the division table
division_data = [
    ("pune", "Pune", "CR", "Location 1", "123456"),
    ("sur", "Solapur", "CR", "Location 2", "8736789"),
    # Add more division data as needed
]

insert_division_query = """
INSERT INTO division (division_code, division_name, railway_code, location, contact_info)
VALUES (%s, %s, %s, %s, %s);
"""

cur.executemany(insert_division_query, division_data)

# Insert records into the station table
station_data = [
    ("pune", "Pune", "Location 1", "pune"),
    ("sur", "Solapur", "Location 2", "sur"),
    # Add more station data as needed
]

insert_station_query = """
INSERT INTO station (station_code, station_name, location, division_code)
VALUES (%s, %s, %s, %s);
"""

cur.executemany(insert_station_query, station_data)

# Commit the transaction
conn.commit()

# Close cursor and connection
cur.close()
conn.close()

UniqueViolation: duplicate key value violates unique constraint "division_pkey"
DETAIL:  Key (division_code)=(pune) already exists.

In [6]:
import psycopg2
from datetime import date

# Connect to your PostgreSQL database
conn = psycopg2.connect(
    dbname='railway_dashboard',
    user='postgres',
    password='1234',
    host='localhost',
    port='5432'
)

# Create a cursor
cur = conn.cursor()

# Insert records into the division_earnings table
division_earnings_data_2022_2023 = [
    ('2022-04-01', 0.65, 1.79, 70.61, 73.05, 28.34, 8.58, 109.97, 0.76, 110.72, "pune"),
    ('2022-05-01', 0.84, 2.60, 72.30, 75.74, 25.69, 9.63, 111.05, 0.55, 111.61, "pune"),
    ('2022-06-01', 0.86, 3.14, 73.74, 77.74, 35.26, 11.64, 124.64, 1.14, 125.78, "pune"),
    ('2022-08-01', 0.93, 8.87, 78.50, 88.30, 40.54, 9.07, 137.91, 0.71, 138.62, "pune"),
    ('2022-08-01', 1.00, 10.66, 74.07, 85.73, 34.40, 7.83, 127.95, 1.27, 129.22, "pune"),
    ('2022-09-01', 1.02, 11.72, 73.28, 86.01, 38.91, 8.36, 133.28, 2.95, 136.23, "pune"),
    ('2022-10-01', 1.00, 15.36, 63.43, 79.79, 30.02, 9.57, 119.39, 0.99, 120.38, "pune"),
    ('2022-11-01', 1.08, 14.40, 75.32, 90.80, 43.15, 8.64, 142.60, 2.13, 144.73, "pune"),
    ('2022-12-01', 1.06, 15.19, 75.17, 91.42, 36.83, 9.08, 137.33, 1.95, 139.28, "pune"),
    ('2023-01-01', 0.99, 14.92, 78.50, 93.45, 28.82, 7.98, 130.25, 1.10, 131.35, "pune"),
    ('2023-02-01', 0.97, 14.42, 73.47, 88.86, 28.25, 7.55, 124.66, 1.99, 126.65, "pune"),
    ('2023-03-01', 1.03, 14.62, 77.65, 93.30, 32.89, 8.76, 134.96, 2.14, 137.10, "pune"),
]

division_earnings_data_2023_2024 = [
    ('2023-04-01', 1.08, 17.52, 69.48, 88.08, 30.74, 9.81, 128.63, 1.23, 129.86, 'pune'),
    ('2023-05-01', 1.19, 19.20, 73.73, 94.12, 28.04, 9.95, 132.10, 1.31, 133.42, 'pune'),
    ('2023-06-01', 1.13, 16.26, 72.58, 89.98, 36.14, 10.10, 136.22, 1.78, 137.99, 'pune'),
    ('2023-08-01', 1.31, 14.48, 102.80, 118.58, 34.99, 9.23, 162.80, 1.86, 164.67, 'pune'),
    ('2023-08-01', 1.27, 15.63, 87.97, 104.87, 43.98, 9.54, 158.39, 1.86, 160.25, 'pune'),
    ('2023-09-01', 1.16, 15.30, 79.61, 96.08, 40.17, 11.35, 147.60, 1.58, 149.18, 'pune'),
    ('2023-10-01', 1.13, 15.61, 82.79, 99.53, 42.38, 9.88, 151.78, 1.07, 152.86, 'pune'),
    ('2023-11-01', 1.08, 20.52, 78.16, 99.76, 31.11, 11.23, 142.10, 1.65, 143.75, 'pune'),
    ('2023-12-01', 1.10, 16.35, 90.56, 108.01, 40.69, 9.30, 158.00, 1.99, 159.99, 'pune')
]


insert_division_earnings_query = """
INSERT INTO division_earnings (earning_month, uts_sub_urban_pass, uts_non_sub_pass, prs_pass, total_pass, freight, other_coaching, total, sundry, gross_total, division_code)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""

cur.executemany(insert_division_earnings_query, division_earnings_data_2023_2024)

# Commit the transaction
conn.commit()

# Close cursor and connection
cur.close()
conn.close()